
/* FONT FACE */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
	font-family: "Amaranth";
	src: url("../fonts/amaranth.otf");
}

/*GLOBAL */
html {font-size: 62.5%}

body {
	font-family: "Open Sans", Arial, sans-serif;
	background-color: white;
	color: #666;
	font-size: 1.6rem;
}

img {
	max-width: 100%;
}

a {
	color: #96B011;
}

a:hover {
	color: #B09067;
}

li {
	list-style: none;
}

table{
	text-align:center;
	width:100%;
	border-collapse: collapse;
}

thead {
	font-weight: bold;
	border-bottom: 3px solid grey;
}

tfoot {
	border-top:3px solid grey;
	font-weight: bold;
	font-size: large;
}

th {
	padding: 15px 10px;
	color: #96B011;
}

td{
	padding: 20px 10px;
}

tbody tr {
	border-bottom: 1px solid grey;
}


#past-orders tbody tr{
	border-bottom: none;
}

main h1 {
	font-family: "Amaranth";
	font-weight: normal;
	font-size: 4rem;
}
main h2 {
	font-family: "Amaranth";
	font-weight: normal;
	font-size: 2.5rem;
	color: #96B011;
}

main h2:after {
	content: "";
	display: block;
	border-top: 1px solid rgba(176,144,103,0.3);
	margin-top: -17px;
}

main h2 span{
	background-color: white;
	padding: 10px;
}

main h2 span.grey{
	background-color: #F2F2F2;
}

main h3 {
	font-family: "Amaranth";
	font-weight: normal;
	font-size: 2rem;
	color: #666;
	margin: 0;
}

.btn {
	background-color: #919f46;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 15px 20px;
	margin: 10px 0;
	text-align: center;
	border: none;
}

.btn:active, .grey-btn:active, .detail-btn:active {
	position: relative;
	top: 2px;
}

.grey-btn:hover, .detail-btn:hover {
	position: relative;
	transform: translateY(-1px);
}

.grey-btn {
	padding:4px 8px;
	border-radius: 2px;
	font-weight: 500;
	text-align: center;
	background-color:#f2f2f2;
	border: none;
	box-shadow:0px 1px #B09067;
	color: #B09067;
	font-size: smaller;
}

.grey-btn:hover {
	background-color: #B09067;
	color: #eee;
}

.detail-btn {
	padding:4px 8px;
	border-radius: 2px;
	font-weight: 500;
	text-align: center;
	background-color: #f2f2f2;
	border: none;
	box-shadow:0px 1px #B09067;
	color: #B09067;
	font-size: smaller;
	height:25px;
}
.detail-btn:hover, .grey-btn:hover, .btn:hover {
	cursor:pointer;
}

#teas .detail-btn{
	height:40px;
	width: 40px;
}

.upload-btn {
	padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border: #9b9b9b 1px solid;
    border-radius: 3px;
    width: fit-content;

}
.file-upload span:first-child{
	width: 200px;
	display: inline-block;
}



/* HOME SLIDER */

.css-slider-wrapper {
    position: relative;
    margin: auto;
}

.slide-radio1, .slide-radio2 {
    display: none;
}

.slider-pagination {
    position: absolute;
    width: 100%;
    bottom: 10px;
    text-align: center;
    z-index: 100;
}

.slider-pagination label {
    cursor: pointer;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #e4c7a1;
    border-radius: 50%;
    margin: 0 4px;
    transition: background-color 0.3s ease;
}

.slider-pagination label:hover, .slide-radio1:checked ~ .slider-pagination .page1, .slide-radio2:checked ~ .slider-pagination .page2 {
    background-color: #B09067;
}

.slider-content {
    overflow: hidden;
}

.slider-inner {
    white-space: nowrap;
    transition: transform 0.3s ease-out;
}

.slide {
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    width: 100%;
}

.slide img {
    width: 100%;
    display: block;
}

.slide-radio1:checked ~ .slider-content .slider-inner {
    transform: translateX(0%);
}

.slide-radio2:checked ~ .slider-content .slider-inner {
    transform: translateX(-100%);
}


/* FORM */
#add-format {
	display: inline-block;
}
#favorite {
	width: 30px;
}

form>div{
	margin:15px 0;
}
form>div>label{
	display: inline-block;
	width:200px;
}

#formats-container label {
	display: inline-block;
	width: 200px;
}




input{
	width:100%;
	max-width:300px;
	height:30px;
	border-color:rgba(176,144,103,0.75);
	border-style: solid;
	border-width: 1px;
	padding: 5px 10px;
	margin: 5px 0px;
	color: rgba(0,0,0,0.5);
}

.input-group{
	margin: 5px 0px;
}

input:disabled {
	background-color: #eee;
}

/* Changing the background color of input fields that have been autofilled by the browser */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: rgba(0,0,0,0.5) !important;
}

/* For Firefox */
input:-moz-autofill,
input:-moz-autofill:hover, 
input:-moz-autofill:focus, 
input:-moz-autofill:active  {
    box-shadow: 0 0 0 30px white inset !important;
    text-fill-color: rgba(0,0,0,0.5) !important;
}

form textarea{
	width:100%;
	max-width:300px;
	border-color:rgba(176,144,103,0.75);
	border-style: solid;
	border-width: 1px;
	padding: 5px 10px;
}

form input[type=checkbox]{
	margin-right:10px;
	height:25px;
}

.btn:hover {
	background-color: rgba(176,144,103,0.75);
	color: white;
}

/* HEADER */
#topbar {
	background-color: rgba(0,0,0,0.1);
	padding: 5px;
	margin: 0;
	color: white;
	text-align: center;
}

header {
	background-repeat: no-repeat;
	background-position: center bottom;
	background-color: rgba(176,144,103,1);
	color: white;
}

#logo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 25px;
}

#cart:hover {
	transform: translateY(-1px);
}

#cart:active {
	transform: translateY(1px);
	opacity: 0.1;
}

#cart:hover #cart-count-icon{
	color: white;
}

#cart-count-container{
    padding: 10px;
    position: relative;
    
  }

  #cart-count-icon{
    position: relative;
    width:50px;
    text-align: center;
    content: "\F07A";
    font-family: "FontAwesome";
    font-size: 2rem;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 1% 50% 0% 50%;
    background: linear-gradient(40deg, rgb(255, 255, 255, 0.7), transparent 40%);
    color: #fff;     
  }

  #cart-count{
    position:absolute;
    top: 1px;
    right: 0px;
    padding: 10px;
    border-radius: 50%;
    width:30px;
    height:30px;
    line-height: 10px;
    background-color: #fff;
    color:#96B011;
    font-weight: bold;
    display:flex;
    border-radius: 50%;
    font-size:0.7em;
    justify-content: center;
    align-items: center;
  }

  #cart-total{
    font-weight: 500;
	position: relative;
	transform: translateY(20px);
	color:white;
  }

.panier{
	display:flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom:20px;
}

.panier img{
	max-width:150px;
}

header nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 25px 0;
	text-transform: uppercase;
	letter-spacing: 1px;
}

header nav a {
	color: white;
	padding: 10px 15px;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

header nav a:hover {
	background-color: rgba(255, 255, 255, 0.2);
	color: white;
}

.ribbon {
	width: 150px;
	position: absolute;
	right: 0;
	top:0;
}

/* MAIN */
#slider {
	margin-top: 25px;
}

.flexslider {
	border: 2px solid white;
}

#christmas {
	text-align: center;
}

#christmas h1 {
	color: #96B011;
}

#christmas small {
	font-size: 1.2rem;
}

#categories, #tea {
	margin: 25px 0;
	padding: 15px;
}

#categories {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	text-align: center;
	background-color: white;
}

#categories h2, #product h2 {
	-ms-flex-preferred-size: 100%;
	    flex-basis: 100%;
}

#categories:hover > a {
	-webkit-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
	opacity: 0.5;
}

#categories:hover > a:hover {
	-webkit-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
	opacity: 1;
}

#tea  {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	background-color: white;
	text-align: center;
}

.price strong {
	display: block;
	font-family: "Amaranth";
	font-size: 2.4rem;
	font-weight: normal;
}

/* Listing Product */
.tea {
	background-color: white;
	padding: 25px;
	margin: 25px 0;
}

.tea > img {
	float: left;
	margin: 25px 10px 0 0;
}

.listing-product {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
	justify-content: space-around;
	gap: 0 80px;
}


.tea-card {
	box-shadow: 0px 1px 2px #c1b7ab;
	padding: 2% 10px;
	margin: 2% 2%;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tea-card img {
	max-width: 300px;
}
.tea-card h2::after {
	display: none;
}


/* Product */
#product {
	background-color: white;
	padding: 25px;
}

#product-detail {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

#product-detail h1 {
	margin: 0;
	font-size: 3rem;
}

#product-detail h2 {
	margin: 0;
	color: #999;
}

#product-detail h2::after {
	display: none;
}

#product-detail p {
	font-style: italic;
}

#rating {
	text-align: right;
	color: #999;
	font-size: 2.5rem;
}

#rating a {
	display: block;
	font-size: 1.6rem;
}

.gold {
	color: #FFDC0F;
}

.price h3 {
	font-family: "Amaranth";
	font-weight: normal;
	font-size: 4rem;
	margin-top: 0;
}

.price a {
	display: block;
}

#product-quantity {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: right;
}

select {
	width: auto;
	padding: 5px;
	border-color: rgba(176,144,103,0.75);
	color: rgba(0,0,0,0.6);
	text-align: center;
}

#format-select {
	width: fit-content;
	padding: 5px 10px;
}


#wishlist::before {
	content: "\F004";
	font-family: "FontAwesome";
	margin: 5px;
	color: #E7877A;
}

#add-tea select {
	width: 100%;
    max-width: 300px;
    height: 30px;
	text-align: left;
}

/* ABOUT */
#presentation {
	background-color: white;
	padding: 25px;
}

.left, .right {
	margin: 25px;
}

#column {
	-webkit-columns: 3 300px;
	   -moz-columns: 3 300px;
	        columns: 3 300px;
	text-align: center;
	padding: 25px;
	background-color: rgba(150, 176, 17, 0.2);
}

#column img {
	margin-top: 25px;
	width: 100px;
}

#column p {
	padding: 10px;
}


/* MY-ACCOUNT */

#order-details {
	background-color: #F2F2F2;
	padding: 5px 10px;
	position: relative;
	margin-left:auto;
	margin-right:auto;
	text-align: left;
}

#order-details h2:after {
	display: none;
}

#order-details td:last-child{
	text-align: center;
	vertical-align: top;
	background-color: white;
}


/* FOOTER */
footer {
	margin-top: 50px;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-color: rgba(176,144,103,1);
	color: white;
}

#info {
	background-color: rgba(0,0,0,0.1);
	color: rgba(255, 255, 255, 0.6);
	text-transform: uppercase;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding: 25px;
}

#info article {
	cursor: pointer;
	-webkit-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}

#info article:hover {
	color: white;
	-webkit-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}

#info i {
	display: block;
	text-align: center;
	font-size: 2em;
	padding-bottom: 5px;
}

#bottombar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
	padding: 25px 0;
}
#bottombar article {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	font-size: 0.9em;
}

#bottombar article h2 {
	font-weight: normal;
	font-size: 13pt;
	font-family: "Amaranth", sans-serif;
	text-transform: uppercase;
}

#bottombar ul {
	margin-left: -40px;
}

#bottombar article ul li {
	list-style-type: none;
	line-height: 2;
	opacity: 0.7;
	-webkit-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
	cursor: pointer;
}

#bottombar article ul li:hover {
	opacity: 1;
	-webkit-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}

#licence {
	display: block;
	text-align: center;
	background-color: rgba(0,0,0,0.1);
	padding: 25px;
}

#licence a {
	color: white;
}

#licence img {
	width: 50px;
}



.flex{
	display:flex;
}

.flex div:nth-child(2){
	margin-left:20px;
}


input {
	color: rgba(0, 0, 0, 0.5);
	padding: 5px;
}

textarea {
	color: rgba(0, 0, 0, 0.5);
}

input::placeholder, textarea::placeholder{
	color:#ccc;
}

#message {
	font-weight: 600;
}


@media screen and (max-width: 1024px) {
	.ribbon {
		width: 80px;
	}

	header .container{
		padding: 0 25px;
	}

	#categories a {
		-ms-flex-preferred-size: 50%;
		    flex-basis: 50%;
		margin: 0 auto;
	}

	#tea, .listing-product {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.listing-product img, #product-quantity img {
		width: 50%;
	}

	.tea > img {
		display: none;
	}

	#column {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}

@media screen and (max-width: 600px) {
	#cart {
		text-align: center;
		margin-top: 25px;
		padding: 10px 15px 10px 5px;
		position: fixed;
		left: 0;
		top: 25px;
		z-index: 10000;
		background-color: #96B011;
		border-radius: 0 50px 50px 0;
		-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
		        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
	}

	#cart:hover {
		transform: none;
	}

	#cart span {
		display: none;
	}

	#cart strong::before {
		font-size: 1.6rem;
	}

	#cart strong {
		font-size: 1.4rem;
	}

	#logo {
		margin-top: 75px;
	}

	#logo, header nav, #bottombar, #product-detail, #product-quantity {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		text-align: center;
	}

	.ribbon, #cart p::before, #christmas, #slider {
		display: none;
	}

	.listing-product img, #product-quantity img {
		width: inherit;
	}

	#rating {
		text-align: center;
		margin-bottom: 25px;
	}

	.left, .right {
		float: none;
		margin: 25px 0 0;
	}

	#info article {
		-ms-flex-preferred-size: 50%;
		    flex-basis: 50%;
		text-align: center;
	}
}

@media screen and (max-width: 700px) {
    
    .container {
        max-width: 100%;
        padding: 0 5%;
    }

	h1, h2 {
		text-align: center;
	}
	.center-container {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	form {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	form>div {
		max-width: 100% !important;
		width: 100% !important;
		padding: 0 	5%;
	}
	form>div>label {
		width: 100%;
	}

	label, input {
		max-width: 100% !important;
		width: 100%;
		text-align: center;
	}

}

